@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }


body{
    background-color: #f6f5f7;
  
  }
  .bodySign{
    display: flex;
    background-color: #f6f5f7;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height:89.5vh;
  }
  
  .bodySign h3{
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: 0;
    margin-bottom: 15px; 
  }
  h3.title{
    font-size: 45px;
    line-height: 45px;
    margin: 0;
    text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
  }
  .bodySign p{
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
  }
  
  .bodySign span{
    font-size: 14px;
    margin-top: 25px;
  }
  
  .bodySign a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    transition: 0.3s ease-in-out;
  }
  
  .bodySign a:hover{
    color: #4bb6b7;
  }
  
  .bodySign button{
    position: relative;
    border-radius: 20px;
    border: 1px solid #4bb6b7;
    background-color: #4bb6b7;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 10px;
    padding: 12px 80px;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
  }
  
  .bodySign button:hover{
    letter-spacing: 3px;
  }
  
  .bodySign button:active{
    transform: scale(0.95);
  }
  
  
  .bodySign button:focus{
    outline: none;
  }
  
  .bodySign button.ghost{
    background-color: rgba(225, 225, 225, 0.2);
    border: 2px solid #fff;
    color: #fff;
  }
  
  
  .bodySign button.ghost i{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  
  .bodySign button.ghost i.register{
    right: 70px;
  }
  
  .bodySign button.ghost i.login{
    left: 70px;
  }
  
  .bodySign button.ghost:hover i.register{
    right: 40px;
    opacity: 1;
  }
  
  .bodySign button.ghost:hover i.login{
    left: 40px;
    opacity: 1;
  }
  
  
  .bodySign form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  .bodySign input{
    background-color: #eee;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  
  .sign-contain{
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 500px;
  }
  
  .form-contain{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .login-contain{
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .sign-contain.right-panel-active .login-contain{
    transform: translateX(100%);
  }
  
  .register-contain{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .sign-contain.right-panel-active .register-contain{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  
  @keyframes show{
    0%,
    49.99%{
      opacity: 0;
      z-index: 1;
    }
  
    50%,
    100%{
      opacity: 1;
      z-index: 5;
    }
  }
  
  .overlay-contain{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  .sign-contain.right-panel-active .overlay-contain{
    transform: translate(-100%);
  }
  
  .overlay{
    background-image: url('./overlayBack.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
      to top,
      rgba(46, 94, 109, 0.4) 40%,
      rgba(46, 94, 109, 0)
    );
  }
  
  .sign-contain.right-panel-active .overlay{
    transform: translateX(50%);
  }
  
  .overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top:0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay-left{
    transform: translateX(-20%);
  }
  
  .sign-contain.right-panel-active .overlay-left{
    transform: translateX(0);
  }
  
  .overlay-right{
    right: 0;
    transform: translateX(0);
  }
  
  .sign-contain.right-panel-active .overlay-right{
    transform: translateX(20%);
  }
  
  .social-contain{
    margin: 20px 0;
  }
  
  .social-contain a{
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    transition: 0.3s ease-in-out;
  }
  
  .social-contain a:hover{
    border: 1px solid #4bb6b7;
  }
  
  
  