@keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  span {
    animation: transitionIn 0.6s;
  }



#navContain {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

#usernav{
    margin-top: 20px;
    height: 60px;
    background-color: #eef1fc ;
    width: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    
    transition: 0.3s ease;
}

#usernav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-decoration: none;
    color: #1a1a1a9c;
    font-weight: 600;
    padding: 9px;
    border-radius: 25px;
    transition: 0.3s ease;
    position: relative;
    width: 80px;
}

#usernav a span {
    display: none;
    font-size: 10px;
    padding: 3px;
    z-index: 1;
    text-align: center;
}

#usernav a:hover,
#usernav a .active{
background-color: #73d1b2ae;
color: #ffffff;
}

#usernav a:hover span {
    display: block;
  }


@media (max-width: 477px){
    #usernav a{
        
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

}
