*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: blueviolet;
    transition:0.5;
}
.body.active{
    background: #333;
}
.container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}
.overlay{
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.overlay .box{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
    transition: 0.5s  ease-in-out;; 
    overflow: hidden;
}
.formBox.active{
    left: 50%;
}

.formBox .form{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s  ease-in-out;
}
.formBox .form form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formBox.active .signInForm{
    left: -100%;
    transition-delay: 0s;
}
.formBox .signInForm{
    transition-delay: 0.25s;
}
.formBox .registerForm{
    left: 100%;
    transition-delay: 0s;
}
.formBox.active .registerForm{
    left: 0;
    transition-delay: 0.25s;
}
@media(max-width:991px){
    .container{
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container .overlay{
        top: 0;
        height: 100%;
    }
    .formBox{
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }
    .overlay .box{
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }
    .box.signin{
        top: 0;
    }
    .formBox.active{
        left: 0;
        top: 150px;
    }
}
