@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap");

.body{
    box-sizing: border-box;
    background-color: #f6f5f7;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 100svh;
    font-family: "Nunito",sans-serif;
}
.container{
    background-color: #FFF;
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0, 0 , 0, 0.25), 0 10px 10px rgba(0, 0 , 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 60%!important;
    max-width: 100%;
    min-height: 600px;
}
@media (max-width: 1000px) {
   
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliding_form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
.body input{
    background-color: #eee;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    width: 100%;
    padding: 12px 15px;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.login-container{
    left: 0;
    width: 50%;
    z-index: 2;
}
.container .right-panel-active .login-container{
    transform: translateX(100%);
}
.register-container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.container.right-panel-active .register-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}
@keyframes show {
    0%,
    49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%,
    100%{
        opacity: 1;
        z-index: 5;
    }
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.container.right-panel-active .overlay-container{
    transform: translate(-100%);
}
.overlay{
    background: linear-gradient(to bottom, #8A2BE2, #4B0082);
    background-size:cover ;
    background-position: 0 0;
    color: #FFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
        to top,
        rgba(46, 94,109,0.4) 40%,
        rgba(46, 94,109,0)
    );
}
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-left{
    transform: translateX(-20%);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.overlay-right{
    right: 0;
    transform: translateX(0%);
}
.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}
.social-container{
    margin: 20px 0;
}
.social-container a{
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    text-decoration: none;
}




